html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
}

.content {
  max-width: 400px;
  font-weight: 400;
}

.content img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.content .sub {
  font-weight: 400;
  font-size: 0.6em;
  color: #888;
  padding-left: 2px;
}

.content h1 {
  display: table;
  font-weight: 400;
}

.content h1 > * {
  display: table-cell;
  vertical-align:middle;
}

.content h1 > *:not(img) {
  padding: 0 0.5em;
}

.content .body {
  padding: 0 0.5em;
  line-height: 1.25em;
}

.content .method {
  text-transform: capitalize;
  color: #888;
}

.contact a {
  color: #888;
}

.about {
  position: absolute;
  padding: 8px;
  bottom:0;
  left:0;
  background: #fff;
  font-family: sans-serif;
  color: rgb(86, 86, 86);
  margin: 12px 12px 40px 12px;
  border-radius: 2px;
}

.about a {
  color: #0074D9;
  text-decoration: underline;
}

.about a:hover {
  text-decoration: none;
}