<footer>
    <!-- footer -->
    <div class="container">

        <div class="copy">&copy; {{ site.time | date: '%Y' }} Startup Shell</div>

        <div class="subscribe">
            <form>
                <input type="email" name="email" placeholder="Email address">
                <input type="submit" name="submit" class="button" value="Subscribe">
            </form>
        </div>

    </div>
</footer>
<!-- /footer -->

<!-- Scripts -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60441414-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/events.js"></script>
