<nav class="menu gray">
<div class="menu-logo"><a href="{{ site.baseurl }}/">Startup Shell</a></div>

    <ul class="menu-list">
      <li class="menu-item"><a href="about" class="menu-item-link">About</a></li>
      <li class="menu-item"><a href="apply" class="menu-item-link">Apply</a></li>
      <li class="menu-item"><a href="events" class="menu-item-link">Events</a></li>
      <li class="menu-item"><a href="ventures" class="menu-item-link">Ventures</a></li>
    </ul>

    <ul class="social-list">
      {% for link in site.data.links %}
        <li class="social-item"><a href="{{ social.link }}" target="_blank"><div class="icon {{ social.name }}"></div></a></li>
      {% endfor %}
    </ul>

</nav> <!-- /.menu -->
