.page-about {
	.hero {
		background-image: url(/assets/about-hero.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		h1 {
			color: $white;
		}
	}
	.area {
		.description {
			@include media($mobile) {
				@include span-columns(4);
			}
			@include media($tablet) {
				@include span-columns(3);
			}
			@include media($desktop) {
				@include span-columns(4);
			}
			@include media($large) {
				@include span-columns(6);
			}
		}
		.area-image {
			@include media($mobile) {
				@include span-columns(4);
			}
			@include media($tablet) {
				@include span-columns(4);
				@include shift(1);
			}
			@include media($desktop) {
				@include span-columns(7);
				@include shift(1);
			}
			@include media($large) {
				@include span-columns(9);
				@include shift(1);
			}
			img {
				width: 100%;
				// height: 330px; // this needs to be dynamic in the future
			}
		}
		&:nth-child(odd) {
			@include media($tablet) {
				.description {
					@include shift(1);
				}
				.area-image {
					@include shift(0);
				}
			}

		}
	}
}