.page-donate {
    .hero {
        h1 {
            color: $gray;
        }
    }
    .area {
    	.description {
    		@include media($mobile) {
		        @include span-columns(4);
		        margin-bottom: $space;
		      }
		      @include media($tablet) {
		        @include span-columns(4);
		        margin-bottom: 0;
		      }
		      @include media($desktop) {
		        @include span-columns(6);
		      }
    	}
    	.donate-box {
    		@include media($mobile) {
        @include span-columns(4);
      }
      @include media($tablet) {
        @include span-columns(3);
      }
      @include media($desktop) {
        @include span-columns(5);
      }
    	}
    }
}
