.page-events {
    .event {
        @include media($mobile) {
            @include span-columns(4);
            margin-bottom: $space;
            text-align: center;
        }
        @include media($tablet) {
            @include span-columns(4);
            @include omega('2n+1');
            margin-bottom: 2*$space;
            text-align: left;
        }
        @include media($desktop) {
            @include span-columns(6);
        }
        @include media($large) {
            @include span-columns(8);
        }
        &:hover .details .meta .date {
            color: $gray;
        }

        .details {
            .image {
                @extend .rounded;
                margin-bottom: $space/2;
                float: left;
                width: 100%;
                height: auto;
                img {
                    margin: auto;
                }
                &.no-fb {
                    background-color: $light-gray;
                }
            }
            .meta {
                .title {
                    margin: 0 0 $space/6 0;
                    a {
                        color: inherit;
                    }
                }
                .date {
                    color: $medium-gray;
                }
            }
        }
        &.featured {
            @include media($mobile) {
                @include span-columns(4);
            }
            @include media($tablet) {
                @include span-columns(8);
            }
            @include media($desktop) {
                @include span-columns(12);
            }
            @include media($large) {
                @include span-columns(16);
            }
            .details {
                text-align: center;
                .title {
                    @extend .h2;
                }
            }
        }
    }
}

.event .image {
    @extend .ratio;
    @extend .fivebythree;
}

.featured .image {
    @extend .ratio;
    @extend .twentyonebynine;
    &:after {
        @include media($mobile) {
            margin-top: 60%;
        }
        @include media($tablet) {
            margin-top: 42.85%;
        }
    }
}

