.page-events {
	.event {
		@include span-columns(6);
		@include omega(2n);
		.image {
			margin: 0 0 $space/4 0;
			img {
				max-width: 100%;
			}
		}
		.meta {
			.title {
				font-weight: 600;
				margin: 0 0 $space/6 0;
			}
			.date {
				color: $medium-gray;
			}
		}
		&.featured {
			@include span-columns(12);
			@include omega(0);
			.meta {
				text-align: center;
			}
		}
	}
}