.hero {
  @include clearfix;
  text-align: center;
  background: $light-gray;
  padding: 2*$space 0 4*$space;
}

.hero-content {
	h1 {
		@include span-columns(10);
		@include shift(1);
		@include omega;
	}
	p {
		@include span-columns(6);
		@include shift(3);
		margin-bottom: $space;
	}
}

.hero-logo {
	margin-bottom: 2*$space;
}

.hero-cta {
}
