.hero {
  @include clearfix;
  padding: 2*$space 0 3*$space 0;
  background-color: $light-gray;
  text-align: center;
}

.hero-text {
}

.hero-info {
}

.hero-info-text {
}

#hero-logo {
}

.hero-cta {
}
