.hero {
  @include clearfix;
  text-align: center;
  background-size: cover;
  padding: 4*$space 0;
}

.hero-content {
	h1 {
		// @include span-columns(10);
		// @include shift(1);
		// @include omega;
		@include media($mobile) {
		  @include span-columns(4);
		}
		@include media($tablet) {
		  @include span-columns(6);
		  @include shift(1);
		}
		@include media($desktop) {
		  @include span-columns(10);
		  @include shift(1);
		}
		@include media($large) {
		  @include span-columns(12);
		  @include shift(2);
		}

	}
	p {
		@include span-columns(6);
		@include shift(3);
		margin-bottom: $space;
	}
}

.hero-logo {
	margin-bottom: $space;
	img {
		width: 2*$space;
	}
}

.hero-cta {
}
