.home {

	.hero {
	  background: $light-gray;
	  padding: 2*$space 0 6*$space;
	  margin-bottom: -3.5*$space;
	}

	.hero-content {
		p {
			@include span-columns(6);
			@include shift(3);
			margin-bottom: $space;
		}
	}

	.hero-logo {
		margin-bottom: $space;
		img {
			width: 2*$space;
		}
	}

	.hero-cta {
	}

}

.video {
	@include clearfix;
	.video-thumb {
		@include span-columns(4);
		height: 300px;
		background: $red;
		@extend .rounded;
		display: block;
	}
}

.contact {
	.contact-box {
		@include span-columns(6);
		background: $light-gray;
		@extend .rounded;
		padding: $space;
		&:before {
			content: "";
			display: block;
			width: $space;
			height: $space;
			float: left;
			margin: 0 $space 0 0;
		}
		&.address:before {
			background:url('/assets/icons/pin.svg') no-repeat;
		}
		&.email:before {
			background:url('/assets/icons/mail.svg') no-repeat;
		}
		p {
			margin: -7px 0;
		}
		&:hover {
		}
	}
	a, a:visited {
		color: $gray;
	}
}