.home {

	.hero {
		padding: 2*$space 0 6*$space;
		margin-bottom: -3.5*$space;
		@include radial-gradient(at 50% bottom,$white,$white,$light-gray,$light-gray);
	}

	.hero-content {
		h1 {
			color: $gray;
			margin-bottom: $space/4;
		}
		p {
			@include media($mobile) {
				@include span-columns(4);
			}
			@include media($tablet) {
				@include span-columns(4);
				@include shift(2);
			}
			@include media($desktop) {
				@include span-columns(6);
				@include shift(3);
			}
			@include media($large) {
				@include span-columns(8);
				@include shift(4);
			}
			margin-bottom: $space;
		}
	}

	.hero-logo {
		margin-bottom: $space;
		img {
			width: 2*$space;
		}
	}

	.events {
		@include media($large) {
			@include span-columns(12);
			@include shift(2);
		}
		.event {
			margin-bottom: 0;
			@include media($mobile) {
	            @include span-columns(4);
	        }
	        @include media($tablet) {
	            @include span-columns(4);
	            @include omega('2n');
	        }
	        @include media($desktop) {
	        	@include omega-reset('2n');
	            @include span-columns(4);
	            @include omega('3n');
	        }
	        @include media($large) {
	            @include span-columns(4);
	        }
	        margin-bottom: $space;
	        &:nth-of-type(1n+4) {
	        	display: none;
	        }
			&.featured {
				@include media($mobile) {
		            @include span-columns(4);
		        }
		        @include media($tablet) {
		            @include span-columns(4);
		        }
		        @include media($desktop) {
		            @include span-columns(4);
		        }
		        @include media($large) {
		            @include span-columns(4);
		        }
		        .image {
		        	@extend .fivebythree;
		        }
			}
		}
	}

}

.video {
	.video-row {
		@include media($large) {
			@include span-columns(12);
			@include shift(2);
		}
	}
	@include clearfix;
	.video-thumb {
		@extend .ratio;
		@extend .square;
		@include media($mobile) {
			@include span-columns(4);
		}
		@include media($tablet) {
			@include span-columns(6);
			@include shift(1);
		}
		@include media($desktop) {
			@include span-columns(4);
			@include shift(0);
		}
		@include media($large) {
			@include span-columns(4 of 12);
			@include shift(0);
		}
	}
	.video-item {
		background: $red;
		@extend .rounded;
	}
}
@include media($mobile) {
	#video-2, #video-3 { display: none; }
}
@include media($desktop) {
	#video-2, #video-3 { display: block; }
}


.contact {
	.contact-box {
		@include media($mobile) {
			@include span-columns(4);
			margin-bottom: $space;
		}
		@include media($tablet) {
			@include span-columns(4);
			margin-bottom: 0;
		}
		@include media($desktop) {
			@include span-columns(6);
		}
		@include media($large) {
			@include span-columns(8);
		}
		background: $light-gray;
		@extend .rounded;
		padding: $space;
		&:before {
			content: "";
			display: block;
			width: $space;
			height: $space;
			float: left;
			margin: 0 $space 0 0;
		}
		&.address:before {
			background:url('/assets/icons/pin.svg') no-repeat;
		}
		&.email:before {
			background:url('/assets/icons/email.svg') no-repeat;
		}
		p {
			margin: -7px 0;
		}
		&:hover {
		}
	}
	a, a:visited {
		color: $gray;
	}
}


