.content, .container, section, .section {
  @include outer-container;
  @include clearfix;
}

section, .section {
  margin-bottom: 3*$space;
}

.tight {
  margin-bottom: 2*$space;
}

.full {
  max-width: 100%;
}

.info {
	font-size: 24px;
	text-align: center;
	@include span-columns(8);
	@include shift(2);
	@include omega;
}