.content, .container, section, .section {
  @include outer-container;
  @include clearfix;
}

section, .section {
  margin-bottom: 3*$space;
}

.tight {
  margin-bottom: 2*$space;
}

.full {
  max-width: 100%;
}

.info {
  text-align: center;
  .info-text {
    font-size: 24px;
    @include span-columns(8);
    @include shift(2);
    @include omega;
    margin-bottom: $space;
  }
}

::selection {
  background: $red;
  color: $white;
}
::-moz-selection {
  background: $red;
  color: $white;
}
