.container, section, .section {
  @include outer-container;
  @include clearfix;
}

section, .section {
  margin-bottom: 3*$space;
}

.tight {
  margin-bottom: 2*$space;
}

.full {
  max-width: 100%;
}
