.menu {
    @include clearfix;
    background: $light-gray;
    padding: $space 2*$space;
    .menu-logo {
      @include span-columns(2);
      font-weight: bold;
      color: $red;
      text-transform: lowercase;
    }
    .menu-list {
      @include span-columns(8);
      text-align: center;
        .menu-item {
            display: inline-block;
            margin-right: $space;
            text-align: right;
            &:last-child {
                margin-right: 0;
            }
            .menu-item-link {
                font-size: 18px;
                color: $red;
                text-transform: lowercase;
            }
        }
    }
    .social-list {
        @include span-columns(2);
        text-align: right;
        .social-item {
            display: inline-block;
            text-align: right;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
