
// LAYOUT

.content, .container, section, .section {
  @include outer-container;
  @include media($large) {
    @include outer-container(1280px);
  }
  @include clearfix;
  padding: 0 $space;
}

section, .section {
  margin-bottom: 3*$space;
}

.tight {
  margin-bottom: 2*$space;
}

.full {
  max-width: 100%;
}

.info {
  text-align: center;
  .info-text {
    font-size: $h2-size;
    @include media($mobile) {
      @include span-columns(4);
    }
    @include media($tablet) {
      @include span-columns(6);
      @include shift(1);
    }
    @include media($desktop) {
      @include span-columns(8);
      @include shift(2);
    }
    @include media($large) {
      @include span-columns(12);
      @include shift(2);
    }

    margin-bottom: $space;
  }
}

.zigzag {
  @include media($tablet) {
    section:nth-child(2n) {
      div:nth-child(1) {
        float: right;
      }
      div:nth-child(2) {
        float: left;
      }
    }
    section:nth-child(2n-1) {
      div:nth-child(2) {
        @include shift(1);
      }
    }
  }
}


// RATIO SIZE HACK

.ratio {
  display: inline-block;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
  }
}

.ratio > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.square:after {
  margin-top: 100%;
}

.fivebythree:after {
  margin-top: 60%;
}

.twentyonebynine:after {
  margin-top: 42.85%;
}


// SELECTION

::selection {
  background: $red;
  color: $white;
}
::-moz-selection {
  background: $red;
  color: $white;
}


// BUTTON

.button, a.button, a.button:visited {
  display: inline-block;
  background: $red;
  padding: $space/2 $space;
  margin: 0 auto;
  @extend .rounded;
  @extend .h3;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  &:hover {
  	background: $dark-red;
    cursor: pointer;
  }
}
