// BUTTON

.button {
  display: inline-block;
  background: $red;
  padding: $space/2 $space;
  margin: 0 auto;
  @extend .rounded;
  @extend .h3;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  @extend .transition;
  &:hover {
  	background-color: $dark-red;
    cursor: pointer;
  }
}


// FORM

input {
  border: 0;
  outline: 0;
  &:hover, &:focus {
    border: 0;
    outline: 0;
  }
}

input[type="email"], input[type="text"] {
  padding: $space/2 $space;
  font-family: $sans;
  color: $gray;
  background: $white;
  @extend .rounded;
  border: 0;
}

input[type="submit"] {

}