
// LAYOUT

.content, .container, section, .section {
  @include outer-container;
  @include media($large) {
    @include outer-container(1280px);
  }
  @include clearfix;
  padding: 0 $space;
}

section, .section {
  margin-bottom: 3*$space;
}

.tight {
  margin-bottom: 2*$space;
}

.full {
  max-width: 100%;
}

.info {
  text-align: center;
  .info-text {
    font-size: $h2-size;
    @include media($mobile) {
      @include span-columns(4);
    }
    @include media($tablet) {
      @include span-columns(6);
      @include shift(1);
    }
    @include media($desktop) {
      @include span-columns(8);
      @include shift(2);
    }
    @include media($large) {
      @include span-columns(12);
      @include shift(2);
    }

    margin-bottom: $space;
  }
}


// RATIO SIZE HACK

.ratio {
  display: inline-block;
  position: relative;
  &:after {
    content: '';
    display: block;
  }
}

.ratio > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.square:after {
  margin-top: 100%;
}

.fivetothree:after {
  margin-top: 60%;
}


// SELECTION

::selection {
  background: $red;
  color: $white;
}
::-moz-selection {
  background: $red;
  color: $white;
}


// BUTTON

.button, a.button, a.button:visited {
  display: inline-block;
  background: $red;
  padding: $space/2 $space;
  margin: 0 auto;
  @extend .rounded;
  @extend .h3;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  &:hover {
  	background: $dark-red;
    cursor: pointer;
  }
}


// FORM

input {
  border: 0;
  outline: 0;
  &:hover, &:focus {
    border: 0;
    outline: 0;
  }
}

input[type="email"], input[type="text"] {
  padding: $space/2 $space;
  font-family: $sans;
  color: $gray;
  background: $white;
  @extend .rounded;
  border: 0;
}

input[type="submit"] {

}