// COLORS

$white:			#FFF;
$black:			#000;

$gray:	 		#222;
$medium-gray:	#999;
$light-gray:	#EEE;

$red: 			#D74035;
$dark-red:		darken($red,10%);


// DIMENSIONS

$space:		2em;
$radius:	4px;


// BREAKPOINTS

$mobile-size:	em(320);
$tablet-size:	720px;
$desktop-size:	em(960);
$large-size:	em(1224);


// TRANSITIONS

.transition {
  	@include transition(color .15s);
  	@include transition(background .15s);
  	@include transition(border .15s);
}


// TYPOGRAPHY

$base-size: 1em;
$h1-size: 	2.5em;
$h2-size: 	1.25em;
$h3-size: 	$base-size;
