// COLORS

$white:			#FFF;
$black:			#000;

$gray:	 		#222;
$medium-gray:	#999;
$light-gray:	#EEE;

$red: 			#D74035;


// SPACING

$space: 40px;


// BREAKPOINTS

$mobile-size:	em(320);
$tablet-size:	720px;
$desktop-size:	em(960);
$large-size:	em(1224);
