// COLORS

$white:			#FFF;
$black:			#000;

$gray:	 		#222;
$medium-gray:	#999;
$light-gray:	#F4F4F4;

$red: 			#D74035;
$dark-red:		darken($red,10%);


// DIMENSIONS

$space:		40px;
$radius:	4px;

.rounded {
	@include border-radius($radius);
}


// BREAKPOINTS

$mobile-size:	em(320);
$tablet-size:	720px;
$desktop-size:	em(960);
$large-size:	em(1224);


// TRANSITIONS

.transition {
  	@include transition(color .15s);
  	@include transition(background .15s);
  	@include transition(border .15s);
}

.fade-up {
    @include linear-gradient(to top, $medium-gray, rgba(255,0,0,0));
    height: 100%;
}