.venture-item {
  display: block;
  margin: 0 2% $space/2;
  float: left;
  opacity: .9;

  &:hover {
    opacity: 1;
  }

  @include media($mobile) {
    width: 21%;
  }
  @include media($tablet) {
    width: 8.5%;
  }
  @include media($desktop) {
    width: 8.5%;
  }
  @include media($large) {
    width: 8.5%;
  }
}

.page-ventures {

  .venture-item {

    @include align-items(center);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-start);

    @include clearfix;

    .venture-image {
      @include flex(1);
    }

    .venture-detail {
      @include flex(2);
    }

    @include media($mobile) {
      width: 100%;

      .venture-detail {
        padding-left: 10px;
      }
    }
    @include media($tablet) {
      width: 100%;

      .venture-detail {
        padding-left: 50px;
      }
    }
    @include media($desktop) {
      width: 46%;
    }
    @include media($large) {
      width: 46%;
    }

  }

  .hero {

    h1 {
      color: $gray;
    }
  }
}
